* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /*border: 4px solid orange;*/
    margin-bottom: 30px;
    height: 200px;
    display: flexbox;
}

header img {
    margin-top: 20px;
    margin-bottom: 10px;
}

header div { 
    width: 180px;
    margin: auto;
    /*border: 4px solid rgb(255, 0, 183);  */
    border-radius: 49%;

    display: flex;
    padding: 4px;

    transition: transform .3s; /* recebe duas propriedades transform e tempo .3s*/
}

header div:hover {
    transform: scale(1.1)
}

header div img {
    width: 100%;
    border-radius: 50%;
    border: 4px solid orange;
}


main {
    max-width: 900px;
    width: 90%;
    margin: auto;

    display: flexbox;
    gap: 100px;
   
}

main div img {
    /*border: 2px solid rgb(151, 4, 92);*/
    border-radius: 8px;

    max-width: 900px;
    width: 100%;
}

body {
    /*background-image: url(./assets/bg.jpg);*/
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
    
}

body * {
    font-family: 'inter', sans-serif;
    line-height: 160%;
}

section {
    color: white;
    padding-top: 4px;
    margin-bottom: 30px;
    background-image: brown;
    border-radius: 8px;
    
}

h1{
    color: orange;
    font-size: 35px;
    letter-spacing: -0.47px;
}

h2 {
    color: orange;
    font-size: 25px;
    letter-spacing: -0.47px;
}

footer {
    
    font-size: 10px;
    color: grey;

    margin-top: 30px;
    margin-bottom: 5px;

}

footer div {
    /*border: 2px solid yellow;*/
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.514);
    
    display: flex;
    
    max-width: 900px;
    width: 90%;
    margin: auto;

    padding-top: 3px;
    padding-bottom: 3px;
       
}

/*
.container {
    border: 2px solid rgb(47, 0, 255);
    display: flexbox;
    justify-content: center;
    
}

.introdution {
    border: 2px solid rgb(255, 140, 0);
    display: flexbox;
   
}

.Cooktime {
    border: 2px solid yellow;

}

.Ingredients {
    border: 2px solid yellow;
}

.Preparation {
    border: 2px solid yellow;
}

*/
